body {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}

#main-about {
    height: 100vh;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: saturate(180%) blur(14px);
    -webkit-backdrop-filter: saturate(180%) blur(14px);
}

.corpo-exibicao {
    height: 86%;
    padding-top: 4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.projetos-exibicao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.conhecimentos-exibicao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
