/* 
    PROJETOS (PROJECTS)
*/

.projeto {
    height: auto;
    /* padding-top: 0.6em; */
    margin-bottom: 0.2em;
    margin-left: 0.4em;
    margin-right: 18px;
}

.projeto .cartao {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
  
.cartao-traseira {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px solid #c4c4c4;
    background-color: rgba(255, 255, 255, 0.96);
    backdrop-filter: saturate(100%) blur(2px);
    -webkit-backdrop-filter: saturate(1200%) blur(6px);

    height: 96.95%;
    width: 100%;
    opacity: 0;
    border-radius: 16px;

    transition: 0.3s;
}

.cartao-traseira h3 {
    font-weight: 400;
}

.projeto .cartao figure img {
    height: auto;
    width: 100%;
    /* object-fit: cover;
    object-position: left bottom; */
    border-radius: 16px;
    border: 2px grey solid;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.projeto:hover .cartao-traseira {
    opacity: 1;
}

.projeto:hover .cartao figure img {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.descricao-projeto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 1.4em;
}

.descricao-projeto section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.descricao-projeto p {
    margin-top: 0.3em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.descricao-projeto a,
.descricao-projeto button {
    margin: 0;
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.descricao-projeto section {
    height: 4.5em;
    width: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px grey solid;
    border-radius: 50%;
    margin: 0;
    padding: 0.05em;
    overflow: visible;
    background: #fcfcfc;
    outline: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    transition: 0.1s;
}

.descricao-projeto img {
    height: 62%;
    width: 62%;
}

.descricao-projeto section:hover,
.descricao-projeto section:focus {
    background-color: #fff;
    border: 3px solid #c4c4c4;
    box-shadow: 0 0 4px rgba(188, 188, 188, 0.95);
}



/* 
    CONHECIMENTOS (KNOWLEDGES)
*/

.tecnologia {
    height: 8em;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.8em;
}

.tecnologia .cartao {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border: 3px solid rgb(63, 74, 95);
    /* background-color: rgba(158, 158, 158, 0.6); */
    /* background: rgb(70,105,177);
    background: linear-gradient(300deg, rgba(70,105,177,1) 0%, rgba(107,142,184,1) 100%); */
    /* background: rgb(130,161,224);
    background: linear-gradient(300deg, rgba(130,161,224,1) 0%, rgba(200,213,230,1) 100%); */
    /* backdrop-filter: saturate(500%) blur(1px);
    -webkit-backdrop-filter: saturate(300%) blur(1px); */
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
    outline: 0;
    transition: 0.1s;
}

.tecnologia figure {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologia .cartao:hover,
.tecnologia .cartao:focus {
    background-color: rgba(245, 245, 245, 0.8);
    border-color: rgb(194, 205, 214);
    box-shadow: 1px 0 4px rgba(188, 188, 188, 0.9);
}

/* .tecnologia .cartao:hover img,
.tecnologia .cartao:focus img {
    filter: drop-shadow(1px 1px 1.2em rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(1px 1px 1.2em rgba(0,0,0,0.3));
} */

.tecnologia figure img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66%;
    width: 66%;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
    /* -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.1)); */
    transition: 0.1s;
}

.tecnologia h3 {
    font-size: 1.1em;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.tecnologia .cartao-back {
    background-color: #232323;
    height: 6%;
    width: 66%;
    margin: 3%;
    border-radius: 16px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
}

.tecnologia .cartao-back-text {
    font-size: 0.7em;
    margin-top: 4px;
    line-height: 0.7em;
    font-weight: 200;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}


/* CARTOES-DIFERENTES */

.tecnologia .cartao-cor0 {
    background: rgb(202,218,250);
    background: linear-gradient(315deg, rgba(202,218,250,1) 0%, rgba(236,236,236,1) 100%);  
}

.tecnologia .cartao-cor0:hover,
.tecnologia .cartao-cor0:focus {
    background: rgb(251,252,255);
    background: linear-gradient(315deg, rgba(251,252,255,1) 0%, rgb(234, 241, 255) 100%);
}

.tecnologia .cartao-cor1 {
    background: rgb(202,218,250);
    background: linear-gradient(45deg, rgba(202,218,250,1) 0%, rgba(236,236,236,1) 100%);  
}

.tecnologia .cartao-cor1:hover,
.tecnologia .cartao-cor1:focus {
    background: rgb(251,252,255);
    background: linear-gradient(45deg, rgba(251,252,255,1) 0%, rgb(234, 241, 255) 100%);
}

.tecnologia .cartao-cor2 {
    background: rgb(202,218,250);
    background: linear-gradient(135deg, rgba(202,218,250,1) 0%, rgba(236,236,236,1) 100%);  
}

.tecnologia .cartao-cor2:hover,
.tecnologia .cartao-cor2:focus {
    background: rgb(251,252,255);
    background: linear-gradient(135deg, rgba(251,252,255,1) 0%, rgb(234, 241, 255) 100%);
}

.tecnologia .cartao-cor3 {
    background: rgb(202,218,250);
    background: linear-gradient(225deg, rgba(202,218,250,1) 0%, rgba(236,236,236,1) 100%);  
}

.tecnologia .cartao-cor3:hover,
.tecnologia .cartao-cor3:focus {
    background: rgb(251,252,255);
    background: linear-gradient(225deg, rgba(251,252,255,1) 0%, rgb(234, 241, 255) 100%);
}