.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid grey;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: saturate(400%) blur(4px);
    -webkit-backdrop-filter: saturate(400%) blur(4px);
    background-color: rgba(255,255,255,0.65);
}

.retornar-pagina {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2em;
    width: 20%;
}

.header-exibicao {
    width: 60%;
    text-align: center;
}

.head .retornar-pagina img {
    height: auto;
    width: 100%;
    transition: 0.1s;
}

.head .retornar-pagina img:hover,
.head .retornar-pagina img:focus {
    transform: scale(0.98);
}

.head .retornar-pagina img:active {
    transform: scale(0.94);
}

.head .retornar-pagina a {
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contato {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    width: 20%;
}

.header-contato button {
    border: none;
    margin: 0;
    padding: 0.8em;
    color: rgba(128, 128, 128, 0.98);
    overflow: visible;
    background: transparent;
    outline: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    transition: 0.05s;
}

.header-contato button:hover,
.header-contato button:focus {
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}