#main-index {
    height: 100vh;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 86%;
}

.corpo img {
    height: 18em;
    width: 18em;
    border-radius: 50%;
    margin: 4%;
    border: #181818 2px solid;
}

.corpo .corpo-info {
    padding: 4%;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.corpo .corpo-info p {
    line-height: 1.2em;
    text-align: justify;
}

.corpo h1 {
    text-align: center;
}

.corpo a {
    text-decoration: none;
    font-size: 1.05em;
    line-height: 1.6;
    font-weight: 400;
    margin-top: 1em;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #07c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    outline: 0;
}

.corpo a:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee,#147bcd);
    border-color: #1482d0;
    text-decoration: none;
}
