body {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}

#main-index {
    height: 100vh;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: saturate(180%) blur(14px);
    -webkit-backdrop-filter: saturate(180%) blur(14px);
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 86%;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.corpo img {
    height: 18em;
    width: 18em;
    border-radius: 50%;
    margin: 4%;
    border: #181818 2px solid;
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.35);
}

.corpo .corpo-info {
    padding: 4%;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.corpo .corpo-info p {
    line-height: 1.4em;
    text-align: justify;
}

.corpo h1 {
    text-align: center;
}

.corpo a {
    text-decoration: none;
    font-size: 1.05em;
    line-height: 1.6;
    margin-top: 1em;
    /* background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9); */
    background-color: #366abe;
    background: linear-gradient(#549ae0,#366abe);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    /* border: 2px solid #07c; */
    border: 2px solid rgb(47, 89, 173);
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    transition: 0.05s;
}

.corpo a:hover,
.corpo a:focus {
    background-color: #3e75ce;
    background: linear-gradient(#6eabe9,#3e75ce);
    border-color: rgb(63, 108, 199);
    text-decoration: none;
}

.corpo a:active {
    border: 2px solid rgb(26, 62, 134);
    transform: scale(0.98);
}