#modal-details {
    display: none;
    color: #f0f0f0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 300;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.98);
    backdrop-filter: saturate(75%) blur(2px);
    -webkit-backdrop-filter: saturate(70%) blur(8px);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

#main-modal-details {
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-details-box {
    height: 60%;
    width: 50%;
    background-color: rgba(255,255,255,0.9);
    border: 2px solid black;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.65);
    color: black;
    border-radius: 24px;
    overflow-y: auto;
}

#modal-details-text {
    padding: 0.9em;
    text-align: justify;
}

#modal-details-title {
    line-height: 1.6em;
}

.modal-title {
    font-size: 0.85em;
    font-weight: 400;
}