
#modal {
    display: none;
    color: #f0f0f0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(15, 15, 15, 0.94);
    backdrop-filter: saturate(75%) blur(6px);
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

#main-modal {
    height: 45%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#main-modal .media {
    width: 44%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#main-modal .media a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
}

#main-modal .media section {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border: 3px solid black;
    transition: 0.05s;
}

#main-modal .media section:hover,
#main-modal .media section:focus {
    background-color: #fcfcfc;
    border: 3px solid gray;
    /* border: 2px solid #07c; */
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.9);
}

#main-modal .media img {
    height: 3em;
    width: 3em;
}

#main-modal .media h3 {   
    font-size: 1.15em;
    font-weight: 300;
    margin: 0.5em;
}

#close-modal {
    position: absolute;
    height: 2.3em;
    width: 2.3em;
    right: 2.4em;
    top: 1.8em;
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.05s;
}

#close-modal:hover,
#close-modal:focus {
    transform: scale(0.96);
}

#close-modal:active {
    transform: scale(0.90);
}

#close-modal img {
    height: 2em;
    width: 2em;
}

/* 
    Animação do modal
*/
.animate {
    -webkit-animation: animatezoom 0.1s;
    animation: animatezoom 0.1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.85)} 
    to {-webkit-transform: scale(1)}
    }

@keyframes animatezoom {
    from {transform: scale(0.85)} 
    to {transform: scale(1)}
}